*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
  background-color: #fff;
}

#home{
  width: 100%;
  min-height: 100vh;
}

#nav{
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

#nav img{
  width: 100px;
}

#nav a{
  text-decoration: none;
  font-weight: 400;
  font-size: 1vw;
  letter-spacing: -1px;
  color: #000;
}

#nav #right{
display: flex;
align-items: center;
}